body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



.btn-login {
  border-radius: 5px;
  margin-right: 15px;
  padding: 0 15px;
  border: 1px solid #535353;
}

.btn-signup {
  border-radius: 5px;
  background-color: #535353;
  color: white;

}

.btn-signup:hover {
  background-color: white;
  color: #535353;
}

video {
  position : fixed;
  bottom: 0;

  width: 100vw;
}

.navbar {
  z-index: 10;
  opacity: 0.9;
  padding-top: 20px;
}
